---
import { ConnectEmbed } from "../thirdweb";
import Layout from "../layouts/Layout.astro";
import { client } from "../client";
import { chain } from "../chain";
---

<Layout title="Welcome to Astro.">
  <div class="main">
    <h1 style="margin-bottom:20px ;">Accountability App</h1>
    <ConnectEmbed client:only="react" client={client} chain={chain} />
  </div>
</Layout>

<style>
  main {
    display: "flex";
    flexdirection: "column";
    justifycontent: "center";
    alignitems: "center";
    padding: "20px";
  }
</style>
